@import "~normalize.css/normalize.css";
@import "./element-variables.scss";

#app {
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

// 表格筛选区样式
.filter {
  margin-bottom: 20px;

  .filter-item {
    width: 200px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

// 表格头部样式
.el-table tr.ink-table-header-row {
  background-color: $--color-primary;
}
.el-table th.ink-table-header-cell {
  color: $--color-white;
  background-color: transparent;
}
